.clarity-box {
    width: 130px;
    height: 24px;
    box-shadow: 0 0 0 1px grey;
}

.added-to-list-text {
    border: none;
    background: none;
    outline: none;
    color: white;
    padding: 2px;
    width: 100%;
    height: 100%;
}

.added-to-list-text:hover {
    cursor: pointer;
    background-color: rgb(56, 56, 56);
}

.add-to-list-btn {
    border: none;
    background: none;
    outline: none;
    margin-top: 8px;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-inline: 50px;
    padding-block: 6px;
    border-radius: 10px;
    font-weight: bold;
}

.add-to-list-btn {
    width: 100%;
    color: black;
    background-color: gold;
}

.add-to-list-btn:hover {
    cursor: pointer;
    background-color: goldenrod;
}